<% layout("layouts/boilerplate") %>
    <h1 class="text-center">Edit Restaurant</h1>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/restaurants/<%= restaurant._id%>?_method=PUT" method="POST" class="needs-validation"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name">Title</label>
                    <input class="form-control" type="text" name="restaurant[name]" id="name" ,
                        value="<%= restaurant.name%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="restaurant[description]" id="description" class="form-control" value="<%=restaurant.description%>" required><%= restaurant.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid description.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">Address</label>
                    <input class="form-control" type="text" name="restaurant[address]" id="address" ,
                        value="<%= restaurant.address%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image_url" class="form-label">Image URL</label>
                    <input type="text" name="restaurant[image]" id="image_url" class="form-control"
                        value="<%= restaurant.image%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid image.
                    </div>
                </div>

                <button class="btn btn-success">Update</button>
                <a class="btn btn-danger" href="/restaurants/<%=restaurant._id%>">Cancel</a>
            </form>
        </div>
    </div>