<% layout("layouts/boilerplate") %>

    <div class="row">
        <div class="col-6 offset-3">

            <div class="card mb-3">
                <img src="<%= restaurant.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=restaurant.name%>
                    </h5>
                    <p class="card-text">
                        <%= restaurant.description %>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">
                            <%= restaurant.address %>
                        </small></p>
                </div>

                <div class="card-body">
                    <a class="btn btn-primary" href="/restaurants/<%=restaurant._id%>/edit">Edit</a>
                    <form class="d-inline" action="/restaurants/<%= restaurant._id%>?_method=DELETE" method="POST">

                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

            <h2>Leave A Review</h2>
            <form action="/restaurants/<%= restaurant._id%>/reviews" method="POST" class="mb-3 needs-validation"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating"> Rating </label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body" class="for">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>

            <% for(let review of restaurant.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Review
                        </h5>
                    </div>
                    <div class="card-body">
                        <h1>Rating: <%= review.rating %>
                        </h1>
                        <%= review.body %>
                    </div>
                </div>
                <% } %>



        </div>
    </div>
    <script src="/js/validateForm.js"></script>